@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,400;0,900;1,100&family=Kumbh+Sans:wght@100;200;600;700;800;900&family=Montserrat:ital@0;1&family=Rubik:ital,wght@0,300;0,400;0,700;0,800;1,300;1,500;1,900&family=Titillium+Web:ital,wght@0,600;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.3s;
}
body {
  background-color: #0d1323;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% auto auto auto;
  gap: 10px;
  padding: 10px;
  background-color: #0d1323;
}

.grid-item {
  /* border: 1px solid #fff; */
  overflow: hidden;
}
.grid-item:hover,
.grid-item:hover .cls-hover-card {
  background-color: #34397b;
  cursor: pointer;
}
.activity-icon img {
  cursor: pointer;
}
.grid-item-wide {
  grid-row: span 2;
  background-color: #1d204b;
}
.grid-common {
  color: #fff;
  background-color: #1d204b;
  /* padding: 4%; */
  border-radius: 10px;
}
.about-user {
  background-color: #5746ea;
  padding: 20px;
}

.user-image img {
  width: 70px;
  max-width: 100%;
  border: 4px solid #fff;
  border-radius: 50%;
  margin: 0 0 30px 0;
}
.about-user p {
  color: #c2befe;
  font-size: 14px;
}
.about-user h1 {
  width: 30%;
}
.activity {
  padding: 10% 5%;
}
.activity p:first-child,
.activity p:last-child {
  color: #c2befe;
  padding: 1% 10% 1% 5%;
}
.activity p:nth-child(2) {
  padding: 1% 10% 1% 5%;
  margin: 10px 0;
}
.activity P:hover {
  color: #fff;
  cursor: pointer;
}
.activity-data {
  overflow: hidden;
}
.current-activity {
  padding: 70px 0;
}

.current-activity h1 {
  margin: 10px 0;
}

.activity-name {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.activity-icon {
  display: flex;
  justify-content: space-between;
  background-color: #ff8b64;
  border-radius: 10px;
}

.activity-icon {
  position: relative;
  top: -10px;
  padding: 0;
  margin: 0;
}
.padding-user-activity {
  padding: 0 10px 10px 10px;
}
.activity-icon {
  margin-bottom: -30px;
  z-index: 0;
}
.activity-icon img {
  height: 50px;
  width: auto;
}
.activity-name {
  position: relative;
  padding: 10px;
  z-index: 6;
  background-color: #1d204b;
}

.class-blue {
  background-color: #56c2e6;
}
.class-red {
  background-color: #ff5e7d;
}
.class-green {
  background-color: #4bcf83;
}
.class-purple {
  background-color: #7235d1;
}
.class-yellow {
  background-color: #f1c75b;
}
@media (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto; /* Set a single column for mobile view */
    gap: 10px;
    padding: 10px;
    background-color: #0d1323;
  }

  .grid-item {
    /* border: 1px solid #fff; */
    overflow: hidden;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .activity {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activity p {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .about-user {
    display: grid;
    grid-template-columns: auto auto;
    /* justify-items: center; */
    /* align-items: center; */
  }
  .user-image {
    grid-row: span 2;
  }
  .about-user h1,
  .about-user p {
    width: 100%;
    font-size: 20px;
    margin: 0 20px 0 10px;
  }
  .about-user p {
    display: flex;
    align-items: flex-end;
  }
  .current-activity{
    display: flex;
    align-items: center;
    justify-content:space-between
  }
}
